<form>
    <h1>{{formTitle}}</h1>
  <!-- * TITLE -->
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input [(ngModel)]="title" name="title" type="text" matInput />
  </mat-form-field>

  <!-- * ADDRESS -->
  <mat-form-field appearance="fill">
    <mat-label>Address</mat-label>
    <input [(ngModel)]="address" name="address" type="text" matInput />
  </mat-form-field>

  <!-- * row-wrapper -->
  <div class="row-wrapper">

    <!-- * DISCTRICT -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Disctrict</mat-label>
      <input [(ngModel)]="district" name="district" type="text" matInput />
    </mat-form-field>

    <!-- * CITY -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>City</mat-label>
      <input [(ngModel)]="city" name="city" type="text" matInput />
    </mat-form-field>

    <!-- * ZIPCODE -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Zipcode</mat-label>
      <input [(ngModel)]="zipcode" name="zipcode" type="text" matInput />
    </mat-form-field>
    
  </div>


  <!-- IMAGES -->
  <div class="images-wrapper">
      <img class="img-size" src="https://i.imgur.com/8bRfxnY.png" alt="">
      <img class="img-size" src="https://i.imgur.com/ZJZaSEs.png" alt="">

    <label for="images" class="img-size">
      <mat-icon>add</mat-icon>
      <span>Add image</span>
    </label>
    <input class="add-img-input" multiple="multiple" type="file" name="images" id="images" #images>

  </div>

  <!-- * DESCRIPTION -->
  <mat-form-field appearance="fill">
    <mat-label>Leave a comment</mat-label>
    <textarea
      [(ngModel)]="description"
      name="description"
      matInput
      placeholder="Ex. It makes me feel..."
    ></textarea>
  </mat-form-field>

  <!-- * CUSTOM COORDINATES -->
  <mat-checkbox [(ngModel)]="coordinates" name="coordinates">
    Custom Coordinates
  </mat-checkbox>

  <!-- * LATITUDE -->
  <mat-form-field appearance="fill">
    <mat-label>Latitude</mat-label>
    <input
      [disabled]="!coordinates"
      [(ngModel)]="lat"
      name="lat"
      type="number"
      matInput
    />
  </mat-form-field>

  <!-- * LONGITUDE -->
  <mat-form-field appearance="fill">
    <mat-label>Longitude</mat-label>
    <input
      [disabled]="!coordinates"
      [(ngModel)]="long"
      name="long"
      type="number"
      matInput
    />
  </mat-form-field>

  <!-- * VISIBILITY -->
  <mat-checkbox [(ngModel)]="visibility" name="visibility">
    Visibility
  </mat-checkbox>


  <button mat-raised-button color="primary">Submit</button>
</form>
