form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.row-wrapper{
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
    gap: 1rem;

    mat-form-field:nth-child(1){
        min-width: 8rem;
        max-width: auto;
    }
    
    mat-form-field:nth-child(2){
        min-width: 8rem;
        max-width: auto;
    }
    
    mat-form-field:nth-child(3){
        max-width: 6rem;
    }
}