<mat-toolbar>
  <button [matMenuTriggerFor]="menu" mat-icon-button aria-label="menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
  <span>My App</span>
</mat-toolbar>


<mat-tab-group mat-stretch-tabs>
  <mat-tab label="Projects">
    <app-projects-list [projects]="projects"></app-projects-list>
  </mat-tab>

  <mat-tab label="house Requests">
    <app-house-request-list [houseRequests]="houseRequests"></app-house-request-list>
  </mat-tab>
</mat-tab-group>



<button mat-fab class="new-project-fab-btn" [routerLink]="'/new-project'"><mat-icon>add</mat-icon></button>
